
/* change input for table */


#backSeattle{
    background-image: url(../images/IMG_2002.png);
    background-repeat: no-repeat;
    background-size: 124em;
    border: 2px solid;
    color: rgb(4, 3, 3);
}

html{
    background: #FA8072;
    margin: 10px;   
    height: 99%;
}
img{
    opacity: 1;
    filter: drop-shadow(0px -22px 15px rgba(145, 8, 8, 0.646));
    margin: 1.5em;
}
#salmon2:hover{
    opacity: 1.0;
    filter: drop-shadow(30px 10px 4px #4444dd);
}

input {
    width: 2em;
    padding: 2px;
}

.addPlace {
    width: 225px; height: 15px; border: 2px solid black; padding: 4px;
}

#myTable tbody tr *{
    border-bottom-left-radius: 33%;
    border-bottom-right-radius: 33%;
    border-top-left-radius: 0%;
    border-top-right-radius: 33%;
    font-size: 24px;
}


th, td, tbody, tr{
    border-width: 1px 4px 1px 4px;
}

th,td {
    width: 22px;
    margin: 22px;
    border: 5px solid black;
    padding: 2px
}

.excel {
    background: #774444;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    font-size: 18px;   
} 

li {
    display:inline;
    padding: 10px;
}
.locationsFront{
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 1em;
    padding: 5px; 
}

.locationsFront:hover{
    opacity: .75;
    filter: drop-shadow(4px 4px 4px #e8e8e9);
    color: #4444dd;
}

  /* --------- CLASSY LOOK ------------ */

table {
    width: 80%;
    margin: 1em;
}

th {
    font-weight: bold;
}

table.classy th, table.classy td {
    margin: .7em;
    padding: .5em;
    position: relative;
    border-left: .9em solid rgb(33, 0, 152);
    border-right: 1em solid rgb(3, 7, 126);
}

table.classy tr {
    border-bottom: 1px solid navy;
    transition: all .1s linear;
}

table.classy thead tr:first-child {
    border-bottom: 3px solid navy;
    color: navy;
}

table.classy tbody tr:hover {
    background: #444;
    color: #fff;
}

/* --------- EXCEL LOOK ------------ */
table.excel {
    border-radius: 6px;
}

table.excel thead {
    background: #ccc;
    border: 1px solid #ccc;
}

table.excel th {
    border: 1px groove #eee;
    font-size: 1em;
    padding: .25em;
    text-align: left;
}

table.excel tbody {
    border: 1px solid #eee;
}

table.excel td {
    border: 1px solid #eee;
    font-size: .9em;
    padding: .1em;
}

table.excel td:hover {
    background: red;
}

table.excel tr td:first-child {
    background: #eee;
    border: none;
}

/*------------end of excel----*/

.aboutUs{
    color: rgba(7, 2, 99, 0.975);
    transform-origin: 50% 50% 0px; 
    left: 0px; 
    top: 20px; 
    width: 600px; 
    height: 700px; 
    z-index: 10002; 
    opacity: 1; 
    display: block; 
    outline: transparent solid 1px;
}
a{
    color: rgb(12, 12, 12);
    width: 10em;
    position: right;
    left: 250px;
    border: .25px solid #4444dd;
   
}

tfoot{
    background-color:rgba(6, 169, 6, 0.954);
}

th:last-child{
    background-color:rgba(6, 169, 6, 0.954);
}

#familyFront{
    position: relative;
    margin-left: 2em;
    z-index: -1;
}

textarea{
    width: 22em;
    height: 22em;
}

#footerFront{
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
    background:#6cf;
    margin-bottom: 444em;

}